#f001 {
    background-color: #121723; 
}

.footer_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 24px;
    gap: 32px;
}

.footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.line {
    height: 1px;
    background-color: #676B73;
    width: 100%;
}

.footer_bottom {
    display: flex;
    width: 100%;
    height: 41px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.footer_social_list {
    flex-direction: row;
    width: 262px;
    gap: 24px;
}

.footer_text {
    display: flex;
    flex-direction: column;
    color: var(--gray-300, #A1A6B4);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1439px) {
    .footer_nav {
        flex-direction: column;
        gap: 24px;
    }
    
    .footer_wrapper {
        flex-direction: column;
        gap: 32px;
    }
}