#m001 {
    background-color: #F1F1F1; 
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;
}

.main_h1 {
    color: var(--black, #121723);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.sneaker { 
	display: flex; 
	flex-direction: column; 
	align-items: flex-start; 
    width: 364px;
    color: var(--black, #121723);
	
} 

.discrition { 
	display: flex; 
	padding: 32px 24px; 
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	gap: 12px; 
	align-self: stretch; 
	background-color: #FFFFFF; 
	border-radius: 0px 0px 12px 12px; 
} 

.text_1 { 
	font-size: 26px; 
	font-style: normal; 
	font-weight: 700; 
	line-height: normal;; 
} 
 
.text_2 { 
	font-size: 20px; 
	font-style: normal; 
	font-weight: 400; 
	line-height: normal; 
} 

.top:hover {
    transform: scale(1.05);
}

@media (max-width: 1439px) {
    .main_content {
        gap: 32px;
    }

    .main_h1 {
        font-size: 32px;
    }

    .top {
        width: 343px;
    }
}